body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Tan background */
    color: #2e4a1e; /* Dark green text */
}

header {
    background-color: #8fbc8f; /* Light green background */
    color: #fff;
    padding: 1.5em 0;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #8fbc8f; /* Light green background */
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1.5em;
}

nav ul li a {
    color: #fff; /* White text */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #2e4a1e; /* Dark olive green text */
}

section {
    padding: 2.5em;
    margin: 1.5em 0;
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1.5em 0;
    background-color: #8fbc8f; /* Light green background */
    color: #fff; /* White text */
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 2px -2px gray;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0.5em 0;
    }

    section {
        padding: 1.5em;
    }
}